#Folders
Library/
Temp/
Builds/
obj/
bin/

*.suo
*.user
*.userprefs
*.pidb

#OS Junk
Thumbs.db
.DS_Store*
ehthumbs.db
Icon7

/.project

*.psess
*.vsp
*.opensdf
*.sdf

*.tmp

/Libs/Output
*/Libs/Output